# Do not commit the copied .env file.
DISCORD_TOKEN=
DESTINATION_GUILD_ID=
COMPANION_API_URL=http://127.0.0.1:8000
COMPANION_UI_URL=http://127.0.0.1:5173
COMPANION_DB_PATH=../../data/companion.sqlite3
COMPANION_SOURCES_PATH=./sources.yaml
